* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos contedores, logo , titulo, hiperv, imagenes.*/

.header-contain{
  display: flex;
}
#titulo-principal{
  font-size: 2.8em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: rgb(14, 14, 96);
}
#titulo-contain{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 18vh;
}
#logo-contain{
  display: flex;
  width: 15vw;
  height: 18vh;
}
.logo{
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}
#hiperv-contain-nav{
  display: flex;
  width: 45vw;
  height: 18vh;
  justify-content: center;
  align-items: center; 
}
.hiperv{
  padding: 3%;
  color: black;
  font-size: 1em;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/*Estilos de la seccion 1*/
#s1{
  display: flex;
  align-items: start;
  justify-content: right;
  flex-direction: column;
}
/*animacion de fondo responsive en s1*/
#img-animada-contain{
  width: 100vw;
  height: 75vh;
  background-image: url(../img/galeriaan1.jpg);
  background-repeat: no-repeat;
  background-size: contain; 

  animation-name: galeriaimgcambiar;
  animation-duration: 20s;
  animation-delay: 2s;
  animation-iteration-count: infinite; 
}
@keyframes galeriaimgcambiar{
  20%{background-image: url(../img/galeriaan2.jpg)}
  40%{background-image: url(../img/galeriaan3.jpg)}
  60%{background-image: url(../img/galeriaan4.jpg);}
  80%{background-image: url(../img/galeriaan5.jpg);}
  100%{background-image: url(../img/galeriaan1.jpg);}
}
#texto-s1{
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media query para dispositivos de escritorio */
@media only screen and (min-width: 1024px) {}

/* Media query para tabletas */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
 
  .header-contain{
    display: flex;
  }
  #titulo-principal{
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(14, 14, 96);
  }
  #titulo-contain{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 40vw;
    height: 15vh;
  }
  #logo-contain{
    display: flex;
    width: 15vw;
    height: 15vh;
  }
  .logo{
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
  }
  #hiperv-contain-nav{
    display: flex;
    width: 45vw;
    height: 15vh;
    justify-content: center;
    align-items: center; 
  }
  .hiperv{
    padding: 1%;
    color: black;
    font-size: 0.9em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  #texto-s1{
    font-size: 0.8em;
  }
  #s1{
    display: flex;
    align-items: start;
    justify-content: right;
    flex-direction: column;
  }
}

/* Media query para teléfonos móviles */
@media only screen and (max-width: 767px) {

  .header-contain{
    display: flex;
  }
  #titulo-principal{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(14, 14, 96);
  }
  #titulo-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 12vh;
    }
  #logo-contain{
    display: flex;
    width: 15vw;
    height: 12vh;
  }
  .logo{
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
  }
  #hiperv-contain-nav{
    display: flex;
    width: 45vw;
    height: 12vh;
    justify-content: center;
    align-items: center; 
  }
  .hiperv{
    padding: 1%;
    color: black;
    font-size: 0.5em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  #texto-s1{
    font-size: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
  }
  #s1{
    display: flex;
    align-items: start;
    justify-content: right;
    flex-direction: column;
  }
  #img-animada-contain{
    width: 100vw;
    height: 65vh;
    background-image: url(../img/galeriaan1.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
  
    animation-name: galeriaimgcambiar;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite; 
  }
}