* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos contedores, logo , titulo, hiperv, imagenes.*/
.header-contain{
  display: flex;
}
#titulo-principal{
  font-size: 2.8em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: rgb(14, 14, 96);
}
#titulo-contain{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 18vh;
}
#logo-contain{
  display: flex;
  width: 15vw;
  height: 18vh;
}
.logo{
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}
#hiperv-contain-nav{
  display: flex;
  width: 45vw;
  height: 18vh;
  justify-content: center;
  align-items: center; 
}
.hiperv{
  padding: 3%;
  color: black;
  font-size: 1em;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
/* Sección 2 */
#s2 {
  & div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    & figure {
      position: relative;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: .5rem;
        color: #fff;
      }
    }
  }
}

/* Sección 4 */
#s4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#s4-info, #s4-form {
  width: 50%;
  padding: 1.5rem;
}

#s4-info-location {
  margin-bottom: 1.5rem;

  & iframe {
    border: 0;
    width: 100%;
    height: 50vh;
  }
}

#s4-info-hours {
  display: flex;
  flex-direction: row;

  & dt {
    float: left;
    clear: left;
    width: 100px;
    font-weight: bold;
  }

  & dd {
    margin-left: 10rem;
    line-height: 1.5rem;
  }
}

.s4-header {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  margin-right: .75rem;

  .form-check-input {
    position: static;
    margin-top: 0;
    margin-left: 0;
    margin-right: .3125rem;
  }

  .form-check-label {
    margin-bottom: 0;
  }
}

.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: .875rem;
  color: #dc3545;
}

#submitInput {
  cursor: pointer;
  padding: .375rem .75rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
}
/* seccion3 */
.titulo{
  margin: 1.5%;
}
.foto-artista{
  width:70px ;
  height: 70px;
  border-radius: 50%;
  padding: 8px;
}
.pintura-expo{
 width: 230px;
 height: 230px;
  padding: 10px;
}
.encabezado-artista{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
}
.container-artista{
  display: grid;
  justify-content:center ;
  justify-items: start;
  align-items: center;
  border: 1px solid black;
  width: 270px;
  height: 350px;
  padding: 10px;
}
.container-artistas-destacados{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
  justify-items: center
}
.container-artistas-destacados > article{
  transition: transform  .5s;
  object-fit: cover;
  transition-duration: .5s;
}

.container-artistas-destacados> article:hover{
  transform:scale(1.1);} 

  /* footer */
.pie-de-pag{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 8%;;
  padding: 10px;
  border-top: 1px solid grey;
    }
 
  
  
  .social-link > a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: aqua;
    text-align: center;
    margin: 0 10 10 0;
    display: inline-block;
    color: black;
    line-height: 40px;
    transition: all .5s ease;
  }
  .social-link > a:hover{
  background-color: antiquewhite;
  }

  

/* Media query para dispositivos de escritorio */
@media only screen and (min-width: 1024px) {

  /* Sección 2 */
  #s2 {
    & div {
      & figure {
        &:first-child {
          grid-row: span 2;
          grid-column: span 2;
        }

        &:nth-child(3) {
          grid-row: span 2;
        }

        & figcaption {
          visibility: hidden;
          transition: background-color 0.3s ease-out;
        }

        &:hover figcaption {
          visibility: visible;
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

 
}

/*Estilos de la seccion 1*/
#s1{
  display: flex;
  align-items: start;
  justify-content: right;
  flex-direction: column;
}
/* estilo contenedeor y animacion de fondo responsive en s1*/
#img-animada-contain{
  width: 100vw;
  height: 75vh;
  background-image: url(../img/galeriaan6.webp);
  background-repeat: no-repeat;
  background-size: contain; 

  animation-name: galeriaimgcambiar;
  animation-duration: 20s;
  animation-delay: 2s;
  animation-iteration-count: infinite; 
}
@keyframes galeriaimgcambiar{
  20%{background-image: url(../img/galeriaan2.webp)}
  40%{background-image: url(../img/galeriaan3.webp)}
  60%{background-image: url(../img/galeriaan4.webp)}
  80%{background-image: url(../img/galeriaan6.webp)}
  100%{background-image: url(../img/galeriaan6.webp)}
}

/* estilo del texto , párrafo de invitacion*/
#texto-s1{
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

/* Media query para dispositivos de escritorio */
@media only screen and (min-width: 1024px) {

  /* Estilos contedores, logo , titulo, hiperv, imagenes.*/
  .header-contain{
    display: flex;
  }
  #titulo-principal{
    font-size: 2.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(14, 14, 96);
  }
  #titulo-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 18vh;
  }
  #logo-contain{
    display: flex;
    width: 15vw;
    height: 18vh;
  }
  .logo{
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
  }
  #hiperv-contain-nav{
    display: flex;
    width: 45vw;
    height: 18vh;
   justify-content: center;
    align-items: center; 
  }
  .hiperv{
    padding: 3%;
    color: black;
    font-size: 1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
}
/* Media query para tabletas */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
 
  /* Estilos contedores, logo , titulo, hiperv, imagenes.*/
  .header-contain{
    display: flex;
  }
  #titulo-principal{
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(14, 14, 96);
  }
  #titulo-contain{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 40vw;
    height: 15vh;
  }
  #logo-contain{
    display: flex;
    width: 15vw;
    height: 15vh;
  }
  .logo{
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
  }
  #hiperv-contain-nav{
    display: flex;
    width: 45vw;
    height: 15vh;
    justify-content: center;
    align-items: center; 
  }
  .hiperv{
    padding: 1%;
    color: black;
    font-size: 0.9em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*Estilos de la seccion 1* y parrafo */
  #texto-s1{
    font-size: 0.8em;
  }
  #s1{
    display: flex;
    align-items: start;
    justify-content: right;
    flex-direction: column;
  }
  
  /* Sección 2 */
  #s2 {
    & div {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 50vh;

      & figure {
        & figcaption {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  /* Sección 4 */
  #s4 {
    flex-direction: column;
  }

  #s4-info, #s4-form {
    width: 100%;
  }

  #s4-info-location {
    & iframe {
      height: 25vh;
    }
  }
/* seccion 3 */
  .container-artistas-destacados{
     
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    justify-items: center;
    margin-bottom: 30px;
          }  
}

/* Media query para teléfonos móviles */
@media only screen and (max-width: 767px) {

  /* Estilos contedores, logo , titulo, hiperv, imagenes.*/
  .header-contain{
    display: flex;
  }
  #titulo-principal{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(14, 14, 96);
  }
  #titulo-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 12vh;
    }
  #logo-contain{
    display: flex;
    width: 15vw;
    height: 12vh;
  }
  .logo{
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
  }
  #hiperv-contain-nav{
    display: flex;
    width: 45vw;
    height: 12vh;
    justify-content: center;
    align-items: center; 
  }
  .hiperv{
    padding: 1%;
    color: black;
    font-size: 0.5em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*Estilos de la seccion 1* y parrafo */
  #texto-s1{
    font-size: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
  }
  #s1{
    display: flex;
    align-items: start;
    justify-content: right;
    flex-direction: column;
  }

  /*estilo conteneder de imagen animada celulares */
  #img-animada-contain{
    width: 100vw;
    height: 65vh;
    background-image: url(../img/galeriaan1.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
  
    animation-name: galeriaimgcambiar;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite; 
  }
  /* Sección 2 */
  #s2 {
    & div {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 50vh;

      & figure {
        & figcaption {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  /* Sección 4 */
  #s4 {
    flex-direction: column;
  }

  #s4-info, #s4-form {
    width: 100%;
  }

  #s4-info-location {
    & iframe {
      height: 25vh;
    }
  }
  .container-artistas-destacados{
    display: grid;
    grid-template-columns: repeat(1, 300px);
   gap: 2%;
    justify-content: center;
    padding: 20px;
    margin-bottom: 70px;
  
  }
  /* footer */
  .pie-de-pag{
       
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center
  }
.derechos{
  margin-top: 2%;
}
 
}